* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

:root {
    --bg-principal: rgb(169, 194, 175);
}

body {
    background-color: var(--bg-principal);
    position        : relative;
}
.footer {
    position: absolute;
    bottom: 0;
}